<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DevMetrics Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Welcome to DevMetrics</h1>
    <p>This will become a full GitHub developer analytics dashboard.</p>

    <h1>Welcome {{ username }}</h1>
    <h2>Your Repositories:</h2>
    <ul>
        {% for repo in repos %}
        <li>
            <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
            <br>
            Stars: {{ repo.stargazers_count }} |
            Forks: {{ repo.forks_count }}
        </li>
        {% endfor %}
    </ul>

</body>

</html>
